<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="list-group">
                    <a href="#" class="list-group-item active" style="background-color:#038c00;">Plan Movilidad</a>
                    <div class="list-group-item">
                        <button type="button" class="btn btn-link">Estancia de Investigación</button>
                    </div>
                    <div class="list-group-item">
                        <button type="button" class="btn btn-link">Intercambio de Profesores e investigadores</button>
                    </div>
                    <div class="list-group-item">
                        <button type="button" class="btn btn-link">Presencia de investigadores externos</button>
                    </div>
                    <a href="#" class="list-group-item active" style="background-color:#038c00;">Solicitud
                        Movilidad y Publicaciones indexadas</a>
                    <div class="list-group-item">
                        <button type="button" class="btn btn-link">Presentación de Artñiculos de investigación</button>
                    </div>
                    <div class="list-group-item">
                        <button type="button" class="btn btn-link">Gestión de investigación</button>
                    </div>
                    <div class="list-group-item">
                        <button type="button" class="btn btn-link">Publicaciones indexadas</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>