<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">

                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Convocatoria 
                        <div class="list-group">
                            <a class="list-group-item" (click)="checkCrear()"><i class="fa fa-plus" aria-hidden="true"></i> Añadir</a>
                          </div>
                      </h4>    
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table" >
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                    Descripcion
                                  </th>   
                                  <th>
                                      Fecha inicio
                                    </th> 
                                    <th>
                                      Fecha fin
                                    </th> 
                                    <th>
                                      estado
                                    </th>   
                                                               

                              </thead>
                              <tbody *ngFor="let c of convo">
                                  <tr>
                                      <td>
                                          {{c.id}}
                                      </td>
                                      <td>
                                       {{c.descripcion}}
                                      </td>
                                      <td>
                                          {{c.fecha_fin}}
                                         </td>
                                         <td>
                                          {{c.fecha_inicio}}
                                         </td>
                                         <td>
                                          {{c.estado}}
                                         </td>
                                         <td>
                                          
                                        </td>
                                      
                                  </tr>
                            </tbody>
                          </table>
                          
                      </div>
                  </div>
              </div>
          </div>       
      </div>
  </div>
</div>
