<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">

                  <div class="card-header card-header-danger">
                        <div class="container-fluid">
                                <div class="row">
                                    <div class="col-md-8" align="left">
                                           <h4> Requisitos </h4> 
                                    </div>
                                    <div class="col-md-4" align="right">
                                            <a class="list-group-item" (click)="checkCrear()"><i class="fa fa-plus" aria-hidden="true"></i> Añadir</a>
                                    </div>
                                </div>
                            </div>   
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table" >
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                    Nombre
                                  </th>   
                                  <th>
                                      Detalle
                                    </th> 
                                    <th>
                                      Estado
                                    </th>                         

                              </thead>
                              <tbody *ngFor="let r of requisitos">
                                  <tr>
                                      <td>
                                          {{r.id_requisito}}
                                      </td>
                                      <td>
                                       {{r.nombre}}
                                      </td>
                                      <td>
                                          {{r.detalle}}
                                         </td>
                                         <td>
                                          {{r.estado}}
                                         </td>
                                         <td>
                                                <a class="list-group-item" routerLink= "requisitos-edit/{{r.id_requisito}}"><i class="fa fa-plus" aria-hidden="true"></i> Editar</a>
                                         </td>
                                  </tr>
                            </tbody>
                          </table>
                          
                      </div>
                  </div>
              </div>
          </div>       
      </div>
  </div>
</div>

