<h3>Create Customer</h3>
<div [hidden]="submitted" style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">ID</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="convocatoria.id" name="name">
    </div>
    <div class="form-group">
      <label for="name">Descripcion</label>
      <input type="text" class="form-control" id="name" required [(ngModel)]="convocatoria.descripcion" name="name">
    </div>
    <div class="form-group">
      <label for="name">Fecha de Inicio</label>
      <input type="datetime-local" class="form-control" id="name" required [(ngModel)]="convocatoria.fecha_fin" name="name">
    </div>
    <div class="form-group">
      <label for="name">Fecha de Fin</label>
      <input type="datetime-local" class="form-control" id="name" required [(ngModel)]="convocatoria.fecha_inicio" name="name">
    </div>

    <div class="form-group">
      <label for="age">Estado</label>
      <input type="text" class="form-control" id="age" required [(ngModel)]="convocatoria.estado" name="age">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button class="btn btn-success" (click)="newCustomer()">Add</button>
</div>