<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="card">

          <div class="card-header card-header-danger">
            <h4 class="card-title ">Nueva convocatoria</h4>
          </div>
          <div class="card-body">
            <form (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label for="name">&nbsp;ID</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="convocatoria.id" name="name">
              </div>
              <div class="form-group">
                <label for="name">&nbsp;Descripcion</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="convocatoria.descripcion"
                  name="name">
              </div>
              <div class="form-group">
                <label for="name">&nbsp;Fecha de inicio</label>
                <input type="date" class="form-control" id="name" required [(ngModel)]="convocatoria.fecha_fin"
                  name="name">
              </div>
              <div class="form-group">
                <label for="name">&nbsp;Fecha de finalización</label>
                <input type="date" class="form-control" id="name" required [(ngModel)]="convocatoria.fecha_inicio"
                  name="name">
              </div>

              <div class="form-group">
                <label for="age">&nbsp;Estado</label>
                <input type="text" class="form-control" id="age" required [(ngModel)]="convocatoria.estado" name="age">
              </div>

              <button type="submit" class="btn btn-success">Guardar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="!submitted">

</div>