<br>
<br>
<div class="main-content" style="margin:auto;width: 1500px;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title">Formato para solicitar fondos para gestión de la inverstigación </h4>
            </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form role="form">
                                <div class="form-group">
                                    <div class="container">
                                        <div class="row">
                                            
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            
                        </div>
                    </div>
                    <hr/>
                    <div class="container-fluid">
                        <input type="text" name="id" [(ngModel)]="id">
                        <button type="submit"  class="btn btn-success" (click)="getProducts(id)">Verificar</button>
                        
                        
                        
                    </div>
                    <hr/>
                    <div class="main-content" style="margin:auto;width: 1450px;">
                        <div class="container-fluid">
                          <div class="row">
                            <div class="col-md-8">
                              <div class="card">
                                <div class="card-header card-header-danger">
                                  <h4 class="card-title">Tabla de verificación</h4>
                                  
                                </div>
                                <div class="card-body">
                      
                                    <mat-vertical-stepper >
                                      
                                        <mat-step [stepControl]="secondFormGroup" errorMessage="Address is required." >
                                          <form [formGroup]="secondFormGroup" >
                                              <ng-template matStepLabel >DATOS PROFESOR</ng-template>
                                              <div class="row"> 
                                                <div class="col-md-6">
                                                  <mat-form-field>
                                                    <input matInput placeholder="Nombre"  formControlName="secondCtrl" required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                  <mat-form-field>
                                                    <input matInput placeholder="Cedula" required>
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                      
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <mat-form-field>
                                                    <input matInput placeholder="Cargo" required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                  <mat-form-field>
                                                    <input matInput placeholder="Email" required>
                                                  </mat-form-field>
                                                </div>
                                              </div>
                          
                                              <div class="row">
                                                <div class="col-md-6">
                                                  <mat-form-field>
                                                    <input matInput placeholder="Telefono" required>
                                                  </mat-form-field>
                                                </div>
                                                <div class="col-md-6">
                                                  <mat-form-field>
                                                    <input matInput placeholder="Departamento" required>
                                                  </mat-form-field>
                                                </div>
                                              </div>
                                      
                                                <div>
                                                    <button mat-button matStepperPrevious >Atrás</button>
                                                    <button mat-button matStepperNext>Siguiente</button>
                                                  </div>
                                          </form>
                                            
                                          </mat-step>
                                          <mat-step >
                                        <form>
                                          <ng-template matStepLabel>GESTION DE INVESTIGACION</ng-template>
                                          <div class="container">
                                              <div class="col-md-4">
                                                  <h3>Formulario Gestion Investigacion</h3>
                                              </div>
                                                <mat-form-field>
                                                <input matInput placeholder="Objetivos" required>
                                                </mat-form-field>
                                              
                                              <div class="col-md-4">
                                                  <h3>Organismo o Institucion</h3>
                                              </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                      <input matInput placeholder="Nombre" required>
                                                    </mat-form-field>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <mat-form-field>
                                                      <input matInput placeholder="Sitio web" required>
                                                    </mat-form-field>
                                                  </div>
                                            </div>
                                      
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                      <input matInput placeholder="Pais" required>
                                                    </mat-form-field>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <mat-form-field>
                                                      <input matInput placeholder="Cuidad" required>
                                                    </mat-form-field>
                                                  </div>
                                            </div>
                                      
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                      <input matInput placeholder="Nombre contacto" required>
                                                    </mat-form-field>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <mat-form-field>
                                                      <input matInput placeholder="Telefono contacto" required>
                                                    </mat-form-field>
                                                  </div>
                                            </div>
                                      
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                      <input matInput placeholder="Email contacto" required>
                                                    </mat-form-field>
                                                  </div>
                                            </div>
                                    
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <mat-form-field>
                                                      <input matInput placeholder="Fecha inicio estimada" type="date" required>
                                                    </mat-form-field>
                                                  </div>
                                                  <div class="col-md-6">
                                                    <mat-form-field>
                                                      <input matInput placeholder="Fecha de finalizacion estimada" type="date" required>
                                                    </mat-form-field>
                                                  </div>
                                            </div>
                                      
                                          </div>
                                      
                                        
                                          <div>
                                            <button mat-button matStepperPrevious>Atras</button>
                                            <button mat-button matStepperNext>Siguiente</button>
                                          </div>
                                        </form>
                                            </mat-step>
    
                                              <mat-step >
                                                <form >
                                                    <ng-template matStepLabel>FINANCIAMIENTO</ng-template>
                                                    <div class="container">
                                                        <div class="row">
                                                            <div class="col-md-3">
                                                                <mat-form-field>
                                                                  <input matInput placeholder="Pasajes"  type="number"required>
                                                                </mat-form-field>
                                                              </div> 
                                                              <div class="col-md-3">
                                                                  <mat-form-field>
                                                                    <input matInput placeholder="Viaticos" type="number" required>
                                                                  </mat-form-field>
                                                                </div> 
                                                                <div class="col-md-3">
                                                                    <mat-form-field>
                                                                      <input matInput placeholder="Inscripcion a congreso"  type="number" required>
                                                                    </mat-form-field>
                                                                  </div>
                                                                  <div class="col-md-3">
                                                                      <mat-form-field>
                                                                        <input matInput placeholder="Total" type="number" required>
                                                                      </mat-form-field>
                                                                    </div>  
                                                        </div>
                                                      </div>
                                                    
                                                      <div>
                                                          <button mat-button matStepperPrevious>Atras</button>
                                                          <button mat-button matStepperNext>Finalizar</button>
                                                        </div>
                                                </form>
                                                  
                                                </mat-step>
                                      </mat-vertical-stepper>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>   
                </div>  
              </div>     
        </div> 
    </div> 
</div>
