<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" class="list-group-item active" style="background-color:#038c00;">Plan
                                Intercambio de Profesores e Investigadores</a><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <form role="form">
                                <div class="form-group">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select class="form-control">
                                                    <option value="+100">Seleccione Nombre</option>
                                                    <option value="+46">Ejemplo 1 ..</option>
                                                    <option value="+45">Ejemplo 2 ..</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-2">
                                <label for="exampleInputEmail1">
                                    Id:
                                </label>
                                <input type="email" class="form-control" id="exampleInputEmail1" />
                            </div>
                        </div>
                    </div>
                </div>
                <a href="#" class="list-group-item active" style="background-color:#038c00;"></a>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6"><br>
                            <label for="exampleInputEmail1"> Nombre:</label><br>
                            <label for="exampleInputEmail1"> CI:</label><br>
                            <label for="exampleInputEmail1"> Email:</label><br>
                            <label for="exampleInputEmail1"> Departamento:</label><br>
                            <label for="exampleInputEmail1"> Dedicació:</label><br>
                        </div>
                        <div class="col-md-6"><br>
                            <label for="exampleInputEmail1"> Apellido:</label><br>
                            <label for="exampleInputEmail1"> Cargo:</label><br>
                            <label for="exampleInputEmail1"> Teléfono:</label><br>
                            <label for="exampleInputEmail1"> Carrera:</label><br>
                        </div>
                    </div>
                </div><br>
                <a href="#" class="list-group-item active" style="background-color:#038c00;">Tabla de
                    Verificación</a><br>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" >Requisitos</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" >Formulario de Estancia</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" >Subida de Archivos</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>