<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">

                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Plan Movilidad </h4>    
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table" >
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                   Tipo Convenio ID
                                  </th>  
                                  <th>
                                    Fecha Inicio
                                  </th>  
                                  <th>
                                    Fecha Fin
                                  </th>  
                                  <th>
                                    Estado
                                  </th>  
                                  <th>
                                    CODE
                                  </th>                                

                              </thead>
                              <tbody *ngFor="let c of convenio">
                                  <tr>
                                      <td>
                                          {{c.id}}
                                      </td>
                                      <td>
                                       {{c.id_tip_conve}}
                                      </td>
                                      <td>
                                        {{c.fecha_ini}}
                                       </td>
                                       <td>
                                        {{c.fecha_fin}}
                                       </td>
                                       <td>
                                        {{c.estado}}
                                       </td>
                                       <td>
                                        {{c.code}}
                                       </td>
                                  </tr>
                            </tbody>
                          </table>
                          
                      </div>
                  </div>
              </div>
          </div>       
      </div>
  </div>
</div>

