
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Plan Movilidad</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="list-group-item">
                                    <button type="button" class="btn btn-link " (click)="checkEstancia()">Estancia de
                                        Investigación</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="list-group-item">
                                    <button type="button" class="btn btn-link">Intercambio de Profesores e
                                        investigadores</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="list-group-item">
                                    <button type="button" class="btn btn-link">Presencia de investigadores
                                        externos</button>
                                </div>
                            </div>
                            <br>
                            <div class="row">

                                <div class="card-header card-header-danger"  style="width: 600px;">
                                    <h4 class="card-title">Solicitud
                                        Movilidad y Publicaciones indexadas</h4>
                                </div>

                                <form>
                                    <div class="row">
                                        <div class="list-group-item">
                                            <button type="button" class="btn btn-link">Presentación de Articulos de
                                                investigación</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item">
                                            <button type="button" class="btn btn-link">Gestión de investigación</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="list-group-item">
                                            <button type="button" class="btn btn-link" (click)="checkIndexada()">Publicaciones indexadas</button>
                                        </div>
                                    </div>

                                </form>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>