
<div class="main-content" style="margin:auto;width: 1500px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-10">
        <div class="card">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Estancia de Investigación</h4>
          </div>
          <div class="row">
            <div class="col-md-6">
              <form role="form">
                <div class="form-group">
                  <div class="container">
                    <div class="row">

                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="col-md-6">

            </div>
          </div>
          <hr />
          <div class="container-fluid">
            <input type="text" name="id" [(ngModel)]="id">
            <button type="submit" class="btn btn-success" (click)="getProducts(id)">Verificar</button>


            <div class="row" *ngFor="let p of  products">



              <img src="{{p.img}}" width="150" height="150">

              <div class="col-md-4"><br>
                <i class="fa fa-user-circle-o"></i> Nombres: {{p.nombres}}<br>
                <i class="fa fa-id-card"></i> Cédula: {{p.cedula}}<br>
                <i class="fa fa-envelope-o"></i> Correos: {{p.emails}}<br>
                <i class="fa fa-user-circle-o"></i> Departamentos: {{p.departamento}}<br>
              </div>
              <div class="col-md-2"></div>
              <div class="col-md-4"><br>
                <i class="fa fa-user-circle-o"></i> Nombres: {{p.apellidos}}<br>
                <i class="fa fa-user-circle-o"></i> Cargo: {{p.cargo}}<br>
                <i class="fa fa-mobile"></i> Teléfono: {{p.telefonos}}<br>
                <i class="fa fa-user-circle-o"></i> Carrera: {{p.carrera}}<br>
              </div>
            </div>
          </div>
          <hr />
          <div class="main-content" style="margin:auto;width: 1450px;">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-10">
                  <div class="card">
                    <div class="card-header card-header-danger">
                      <h4 class="card-title">Tabla de verificación</h4>

                    </div>
                    <div class="card-body">

                      <mat-horizontal-stepper linear #stepper>
                        <mat-step [stepControl]="form">
                          <form [formGroup]="form">
                            <ng-template matStepLabel>REQUISITOS</ng-template>

                            <mat-checkbox formControlName="checkbox1" color='primary' labelPosition='before' required>{{requisito[0]["detalle"]}}</mat-checkbox><br>
                            <mat-checkbox formControlName="checkbox2" color='primary' labelPosition='before'required>{{requisito[1]["detalle"]}}</mat-checkbox><br>
                            <mat-checkbox formControlName="checkbox3" color='primary' labelPosition='before' required>{{requisito[2]["detalle"]}}</mat-checkbox><br>
                            <mat-checkbox formControlName="checkbox4" color='primary' labelPosition='before' required>{{requisito[3]["detalle"]}}</mat-checkbox>
                            <div>
                              <button mat-button matStepperNext>Siguiente</button>
                            </div>
                          </form>
                        </mat-step>

                        <mat-step>
                          <form>
                            <ng-template matStepLabel>DATOS DOCENTE</ng-template>
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field>
                                  <input matInput placeholder="Nombre" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field>
                                  <input matInput placeholder="Cedula" required>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field>
                                  <input matInput placeholder="Cargo" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field>
                                  <input matInput placeholder="Email" required>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field>
                                  <input matInput placeholder="Telefono" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field>
                                  <input matInput placeholder="Departamento" required>
                                </mat-form-field>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-md-6">
                                <mat-form-field>
                                  <input matInput placeholder="Carrera" required>
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field>
                                  <input matInput placeholder="Programas de posgrado" required>
                                </mat-form-field>
                              </div>
                            </div>

                            <div>
                              <button mat-button matStepperPrevious>Atrás</button>
                              <button mat-button matStepperNext>Siguiente</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step>
                          <form>
                            <ng-template matStepLabel>PROYECTO ESTANCIA</ng-template>
                            <div class="container">
                              <div class="col-md-4">
                                <h3>Formulario Estancia</h3>
                              </div>
                              <mat-form-field>
                                <input matInput placeholder="Antecedentes" required>
                              </mat-form-field>
                              <mat-form-field>
                                <input matInput placeholder="Objetivo" required>
                              </mat-form-field>

                              <div class="col-md-4">
                                <h3>Lugar de Estancia</h3>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Nombre" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Departamento/Centro/Otros" required>
                                  </mat-form-field>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Pais" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Cuidad" required>
                                  </mat-form-field>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Direccion" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Sitio web" required>
                                  </mat-form-field>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Nombre de Contacto" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Telefono" required>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Email" required>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="col-md-4">
                                <h3>Para casos de estudio de doctorado</h3>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Nombre del doctorado" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Nombre de la tesis" required>
                                  </mat-form-field>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Fecha inicio estimada" type="date" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Fecha de finalizacion estimada" type="date" required>
                                  </mat-form-field>
                                </div>
                              </div>

                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput
                                      placeholder="No. orden del rectorado con el que fue aprobado los estudios de doctorado"
                                      required>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field>
                                    <input matInput placeholder="Metas" required>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field>
                                    <input matInput placeholder="Entregables" required>
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                            <div>
                              <button mat-button matStepperPrevious>Atras</button>
                              <button mat-button matStepperNext>Siguiente</button>
                            </div>
                          </form>
                        </mat-step>

                        <mat-step>
                          <form>
                            <ng-template matStepLabel>CRONOGRAMA</ng-template>
                            <div class="container">
                              <div class="row">
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <input matInput placeholder="Lugar" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <input matInput placeholder="Fecha" type="date" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field>
                                    <input matInput placeholder="Actividad" required>
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                            <div>
                              <button mat-button matStepperPrevious>Atras</button>
                              <button mat-button matStepperNext>Siguiente</button>
                            </div>
                          </form>
                        </mat-step>
                        <mat-step>
                          <form>
                            <ng-template matStepLabel>FINANCIAMIENTO</ng-template>
                            <div class="container">
                              <div class="row">
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <input matInput placeholder="Ayuda economica" type="number" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <input matInput placeholder="Pasajes" type="number" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <input matInput placeholder="Otros" type="number" required>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-3">
                                  <mat-form-field>
                                    <input matInput placeholder="Total" type="number" required>
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                            <div>
                              <button mat-button matStepperPrevious>Atras</button>
                              <button mat-button matStepperNext>Finalizar</button>
                            </div>
                          </form>
                        </mat-step>
                      </mat-horizontal-stepper>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>