<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">

                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Plan Movilidad </h4>    
                  </div>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table" >
                              <thead class=" text-primary">
                                  <th>
                                      ID
                                  </th>
                                  <th>
                                   Tipo Movilidad ID
                                  </th>  
                                  <th>
                                    Nombre
                                  </th>                            

                              </thead>
                              <tbody *ngFor="let m of movsubm">
                                  <tr>
                                      <td>
                                          {{m.id}}
                                      </td>
                                      <td>
                                       {{m.tipmov_id}}
                                      </td>
                                      <td>
                                        {{m.nombre}}
                                       </td>
                                  </tr>
                            </tbody>
                          </table>
                          
                      </div>
                  </div>
              </div>
          </div>       
      </div>
  </div>
</div>

