
<div class="card mt-5" style="margin:auto;width: 700px;">
  <div class="card-header card-header-danger">
      <h4 class="card-title"><b>CRONOGRAMA</b></h4>
  </div>
    <div class="card-body">
            
<mat-tab-group>
    <mat-tab label="Cronograma ">
        <div class="row">
        <div class="col-md-8">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="LUGAR" type="text">
            </mat-form-field>
          </div>

          <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="FECHA" type="date">
                </mat-form-field>
              </div>

              <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="ACTIVIDADES" type="text">
                    </mat-form-field>
                  </div>

        </div>
         </mat-tab>
  </mat-tab-group>
  </div>
  </div>