<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="row">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Logo_ESPE.png"/>
            </div>
            <div class="card-header card-header">
                <h3 class="card-title"><b>BIENVENIDOS A EL SISTEMA DE MOVILIDAD DOCENTE</b></h3>
                <div>
                <h4><b>Requisitos Principales</b></h4>
                </div>
  <div class="card border-success" style="max-width: 40rem;">
           <div class="card-body text-success">
                  <p class="card-text"><b>Ser investigador o profesor titular escalafonado.</b></p>
           </div>
      </div>
      <div class="card border-success" style="max-width: 40rem;">
           <div class="card-body text-success">
                  <p class="card-text"><b>Carta de aceptación.</b></p>
           </div>
      </div>
      <div class="card border-success" style="max-width: 40rem;">
           <div class="card-body text-success">
                  <p class="card-text"><b>Acreditar una permanencia ininterrumpida mínima de 3 años.</b></p>
           </div>
      </div>
      <div class="card border-success" style="max-width: 40rem;">
           <div class="card-body text-success">
                  <p class="card-text"><b>No haber sido sancionado durante los últimos 3 años.</b></p>
           </div>
      </div>
            </div>
             
            </div>
  </div>