
<div class="card mt-5" style="margin:auto;width: 700px;">
    <div class="card-body">
            <h3 class="card-title"><b>CRONOGRAMA</b></h3>
<mat-tab-group>
    <mat-tab label="Cronograma 1">
        <div class="row">

        <div class="col-md-8">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="LUGAR" type="text">
            </mat-form-field>
          </div>

          <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="FECHA" type="date">
                </mat-form-field>
              </div>

              <div class="col-md-8">
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="ACTIVIDADES" type="text">
                    </mat-form-field>
                  </div>

        </div>
         </mat-tab>

    <mat-tab label="Cronograma 2"> 
            <div class="row">

                    <div class="col-md-8">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="LUGAR" type="text">
                        </mat-form-field>
                      </div>
            
                      <div class="col-md-8">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="FECHA" type="datetime">
                            </mat-form-field>
                          </div>
            
                          <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="ACTIVIDADES" type="text">
                                </mat-form-field>
                              </div>
            
            
                    </div>
        </mat-tab>
    <mat-tab label="Cronograma 3"> 
            <div class="row">

                    <div class="col-md-8">
                        <mat-form-field class="example-full-width">
                          <input matInput placeholder="LUGAR" type="text">
                        </mat-form-field>
                      </div>
            
                      <div class="col-md-8">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="FECHA" type="datetime">
                            </mat-form-field>
                          </div>
            
                          <div class="col-md-8">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="ACTIVIDADES" type="text">
                                </mat-form-field>
                              </div>
            
                    </div>
    </mat-tab>
  </mat-tab-group>
  </div>
  </div>